#jankenimage{
  background-image:url(../images/janken.png);
  position: relative;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

.button {
  position: absolute;
  top: 250px;
  left: 400px;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bolder;
  margin: 4px 2px;
  cursor: pointer;
}

#playerHand{
  position:absolute;
  top: 350px;
  left: 190px;
}

#enemyHand{
  position:absolute;
  top: 350px;
  left: 915px;
}

p{
font-size:32px;
font-weight:bolder;
}

#scores{
position: absolute;
top: 500px;
left: 300px;
border: solid rgb(0, 255, 30);
}

.computerscore{

}

.playerscore{


}
